/*
    主题色样式
*/
$color-background: #f9f9f9; // 背景色
$color-theme: #ffcd32; // 主题色
$color-text: #000; // 文本色
$color-text-highlight: #fff; // 文本高亮色

/**
    字体
 */
$default_font-family: '微软雅黑'; // 默认字体样式
$font-size-default: 17pt; //默认字体大小


